@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&display=swap');

:root {
    --font-family: 'Exo', sans-serif;
    --bg-color: #F3F8FF;
    --primary-color: #49108B;
    --numero-chutado: #7E30E1;
    --sombra: #E26EE5;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    transition: 0.7s;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 1.8em;
    margin-top: 20px;
}

h4 {
    font-size: 4em;
    color: #F3F8FF;
}

.mensagem {
    font-size: 1.2em;
    margin-top: 20px;
}

.box {
    border: 2px solid var(--numero-chutado);
    border-radius: 20px;
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 8px var(--sombra);
}

.btn-jogar {
    padding: 15px 15px;
    border: 2px solid var(--sombra);
    margin-top: 20px;
    font-weight: bold;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 2px 4px var(--sombra);
    font-size: 20px;
    transition: 0.3s;
}

.btn-jogar:hover {
    border-color: var(--primary-color);
    box-shadow: 2px 4px var(--primary-color);
    color: var(--sombra);
}